/*Generic CSS*/
@import url('https://fonts.cdnfonts.com/css/jurassic-park');
:root {
  --pearl: #dfd9da;
  --ocean: #3d4f61;
  --sand: #c4b2a7;
  --coconut: #5f5052;
  --gun-powder: #413f51;
  --coral: #e46464;
  --line_color: #e46464;
  --coral-hover: #e15353;
  --swiper-theme-color: #e46464;
  --swiper-navigation-color: #e46464;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background: var(--pearl);
}
.coral-background {
  background: var(--coral);
  color: var(--pearl);
}
.dark-background {
  background-color: var(--gun-powder);
  color: var(--pearl);
}
.light-background {
  background-color: var(--pearl);
  color: var(--gun-powder);
}
.container-title {
  font-size: 64px;
  font-weight: 600;
  padding-bottom: 40px;
}
.coral-text {
  color: var(--coral);
  font-weight: 600;
}
.input-wrapper {
  position: relative;
}
input[type='text'] {
  padding: 10px 37px;
  width: 100%;
}
.header-image {
  height: 65vh;
  background-size: cover;
  background-position: 50% 70%;
  position: relative;
  margin-top: -90px;
  transition: background-image 1s ease-in-out;
}
.container {
  margin: 0 auto;
  width: 80%;
}
/**/
/*room page*/
.room-info-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.room-info {
  margin-top: -30px;
  padding: 20px;
  position: relative;
  z-index: 2;
  background: #d1cbcc;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.room-info-head {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}
.small-images {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 7.5px;
  z-index: 2;
  top: -64px;
  width: 40%;
}
.small-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out; /* Add smooth transition for the zoom effect */
}
.small-image {
  height: 75px;
  width: 50%;
  overflow: hidden;
  border-radius: 6px;
}

.small-image:hover img {
  transform: scale(1.2);
  cursor: pointer;
  border: 1px solid var(--coral);
}
.small-image:hover {
  border: 2px solid var(--coral);
}
.discount-container {
  padding-bottom: 40px;
}
.discounts {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: radial-gradient(
      circle at 37px 8px,
      transparent 8px,
      red 8.5px
    ),
    radial-gradient(closest-side circle at 50%, red 99%, transparent 100%);
  -webkit-mask-size: 100%, 5px 9px;
  -webkit-mask-repeat: repeat, repeat-y;
  -webkit-mask-position: 0 -8px, 34.5px;
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  height: 100px;
  background: var(--coral);
  color: var(--pearl);
  border-radius: 6px;
  width: 100%;
}
.discount-description {
  margin-left: 30%;
  padding-right: 10%;
}
.subtotal {
  margin: 4px 0px;
}
.discountTotal {
  color: var(--coral);
}
/**/
/*nav*/

.nav-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 12px 0px;
  z-index: 3;
  margin: 0 auto;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 40px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--pearl);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--pearl);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--pearl);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  right: 15px;
}
.close-menu {
  top: 15px;
  right: 15px;
}

#check {
  display: none;
}

.logo {
  font-family: 'Jurassic Park', sans-serif;
  font-size: 64px;
}
.logo a {
  text-decoration: none;
  color: var(--pearl);
}

.index-header-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -90px;
}
.header-title {
  font-size: 64px;
}
.header-subtitle {
  margin-left: 62px;
  font-weight: 600;
}
.header-text-container {
  color: var(--pearl);
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: -50px auto;
  z-index: 2;
  position: relative;
}
.before {
  background-color: var(--gun-powder);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  opacity: 0.45;
}
.chevron-container {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: var(--pearl);
  border-radius: 50%;
  color: var(--gun-powder);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
}
.chevron-container a {
  text-decoration: none;
  color: var(--gun-powder);
  transition: 0.5s ease-in-out;
}
.chevron-container:hover {
  background: var(--coral);
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#about-us {
  text-decoration: none;
}

.room-container,
.about-us-container {
  padding: 80px 0px;
}
.activities-container {
  padding: 80px 0px 120px 0px;
}

/*card on index page*/
.card-container {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.room-image img {
  width: 100%;
  height: 200px;
}
.room-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: var(--gun-powder);
  color: var(--pearl);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button:hover {
  background: var(--coral-hover);
}
.image-container {
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
}

.room-image {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out; /* Add smooth transition for the zoom effect */
}

.room-card:hover .room-image {
  transform: scale(1.2);
}
.room-card:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 54%), 0 3px 1px -2px rgba(0, 0, 0, 0.54),
    0 1px 5px 0 rgba(0, 0, 0, 0.54);
}

.card-room-info {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-title {
  font-weight: 500;
  font-size: 28px;
}
.info-more {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
/**/
/*about us*/
.about-us-container {
  display: flex;
  gap: 15%;
}

.about-us {
  font-size: 64px;
  font-weight: 600;
  text-wrap: nowrap;
}
.about-us-text {
  font-weight: 100;
  font-size: 20px;
}
/**/

/*buttons*/
.button {
  position: relative;
  background: var(--coral);
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--pearl);
  transition: all 0.3s ease;
  border-radius: 6px;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/**/
/*activities on index page*/
.activities-text {
  width: 50%;
}
.activities-description {
  width: 100%;
  font-weight: 100;
  font-size: 20px;
}
.activities-images {
  width: 50%;
  position: relative;
}

.activities-images img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  object-fit: cover;
}
.content-container-activities {
  gap: 60px;
  display: flex;
}

.activities-button {
  position: absolute;
  width: 100%;
  right: 10%;
  bottom: 48px;
  background: var(--coral);
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--pearl);
  transition: all 0.3s ease;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.activities-button:hover {
  transform: scale(1.1);
}
/**/
/*footer*/
.footer {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px 40px 0px;
  position: relative;
}
.footer-container {
  display: flex;
  gap: 7%;
  justify-content: center;
  padding-top: 40px;
  border-top: var(--sand) solid 1px;
}
.dark-background .footer a {
  color: var(--pearl);
}
.dark-background .footer a:hover {
  color: var(--coral);
}
.footer-title {
  margin-bottom: 15px;
  font-weight: 700;
}
.footer-links,
.social {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.social a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: var(--gun-powder);
}

.footer a:hover {
  color: var(--coral);
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.copyright {
  text-align: center;
  font-size: 14px;
  width: 80%;
  border-top: var(--sand) solid 1px;
  margin: 0 auto;
  padding: 20px;
}
/**/
/*sign-up form on footer*/
.sign-up {
  position: absolute;
  width: 100%;
  background: var(--sand);
  color: var(--pearl);
  top: -40px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.sign-up form {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
  padding: 35px 15px 15px 15px;
}
.sign-up label {
  position: absolute;
  top: 7px;
  left: 16px;
  font-weight: 600;
  color: var(--ocean);
}
.sign-up input {
  border: none;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.sign-up button {
  border: none;
  width: 20%;
  background: var(--ocean);
  color: var(--pearl);
  display: flex;
  padding: 10px 30px;
  text-decoration: none;
  color: var(--pearl);
  transition: all 0.3s ease;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  align-items: center;
}
.sign-up button:hover {
  cursor: pointer;
  background-color: #2a3743;
}
/**/

/*form on room page*/
.icon-container {
  position: absolute;
  top: 50%;
  transform: translate(80%, -52%);
  color: var(--coral);
}
.form-div {
  padding: 20px;
  background: #d1cbcc;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.form-div button {
  width: 100%;
  border: none;
  background: var(--coral);
  color: var(--pearl);
  border-radius: 6px;
  padding: 15px;
  font-size: 18px;
}
.form-div button:hover {
  background: var(--coral-hover);
  cursor: pointer;
}
.form-title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 30px;
}
select:focus,
input:focus {
  outline: 2px solid var(--coral);
  outline-offset: 2px;
}
input[type='checkbox']:checked {
  border-color: var(--coral);
  background-color: var(--coral);
  color: var(--coral);
}
.form-div label,
.activities-title {
  font-size: 18px;
  font-weight: 600;
}
.total {
  margin: 15px 0px;
  font-size: 18px;
  font-weight: 600;
}
.form-div input[type='text'] {
  margin: 15px 0px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
.room-page-container {
  color: var(--gun-powder);
  padding: 0px 0px 90px 0px;
}
.room-features {
  color: var(--coral);
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.activities-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0px;
  row-gap: 15px;
}
.room-activities-card {
  width: calc(50% - 7.5px);
  display: flex;
  justify-content: left;
  gap: 15px;
  align-items: center;
  border-radius: 6px;
  height: 75px;
  background: white;
}
.room-activities-card:nth-child(odd) {
  margin-right: 7.5px;
}
.room-activities-card:nth-child(even) {
  margin-left: 7.5px;
}
.room-activities-card img {
  border-radius: 6px 0px 0px 6px;
  width: 120px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.room-activities-card input {
  cursor: pointer;
}
/**/
/*Daterangepicker*/
.active.start-date.available,
.active.start-date.available:hover,
.active.end-date.in-range.available,
.active.end-date.in-range.available:hover {
  background-color: var(--coral) !important;
}

.in-range.available {
  background-color: #f8ebeb !important;
}
.raterangepicker {
  border: 1px solid var(--coral);
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid var(--coral);
}
/**/

.errors {
  padding: 20px;
  position: relative;
  z-index: 5;
  background: #b6848d;
  border-radius: 6px;
  border: 1px solid #b42a43;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
  color: var(--pearl);
  display: flex;
  flex-direction: column;
}
/*activities*/

.activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.activity-card {
  background: #d1cbcc;
  overflow: hidden;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: var(--gun-powder);
}
.activity-image {
  width: calc(100% / 3);
}
.activity-card img {
  width: calc(100% / 3);

  object-fit: cover;
}
.activity-card-title,
.activity-card-price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.activity-description {
  padding: 15px;
}
.activities-title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 15px;
  color: var(--gun-powder);
}
/**/

@media (max-width: 768px) {
  .header-title {
    font-size: 44px;
  }
  .chevron-container {
    font-size: 1em;
    width: 25px;
    height: 25px;
  }
  .about-us-container {
    flex-direction: column;
  }
  .content-container-activities {
    flex-direction: column;
  }
  .activities-text {
    width: 100%;
  }
  .activities-images {
    width: 100%;
  }
  /*footer*/
  .sign-up form {
    flex-direction: column;
  }
  .sign-up button {
    width: 100%;
    justify-content: center;
    gap: 15px;
  }
  .sign-up input {
    font-size: 14px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .social a {
    gap: 15px;
    justify-content: center;
  }
  .room-card {
    margin-top: 50px;
  }
  .container-title,
  .about-us {
    padding-bottom: 40px;
  }

  .about-us,
  .container-title {
    font-size: 48px;
  }

  /*room page*/
  .room-activities-card {
    width: 100%;
    margin: 0px !important;
  }
  .room-activities-card img {
    width: calc(100% / 3);
  }
  .room-info-head,
  .form-title,
  .activities-title {
    font-size: 24px;
  }
  .room-features {
    flex-direction: column;
    gap: 5px;
  }
  .small-images {
    width: 55%;
  }
  .options {
    display: none;
  }
  .feature-description {
    font-size: 14px;
    padding: 5px 5px 5px 0px;
  }
  .form-div input[type='text'] {
    padding: 10px 10px 10px 37px;
    font-size: 14px;
  }
  .discounts {
    flex-direction: column;
  }
  .discount-description {
    margin: 0;
    padding: 0;
    padding: 0px 0px 0px 44px;
  }

  /**/
  .nav-bar {
    width: 100%;
    margin: 0;
    padding: 15px;
    align-items: center;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--coral);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
    padding-left: 0px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  .close-menu {
    top: 25px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .logo {
    font-size: 48px;
  }
  /*activity page*/
  .activity-card {
    flex-direction: column;
  }
  .activity-card img {
    width: 100%;
  }
  .header-image.activities {
    background-position: 20% 70%;
  }
}
